.admin-header{
    &.layui-header{
        background: #D23637;
    }
    .layui-logo{
        background: #393939;
        width: 222px;
        img{
            width: 169px;
        }
    }
    .layui-nav{
        .layui-nav-item{
            a{
                font-size: 18px;
                color: rgba(255,255,255,1);
                padding: 0 25px;
            }
        }
        .i-second{
            text-align: center;
            a{
                color: #d23637;
            }
            
        }
        .layui-nav-more{
            border-width: 10px;
            margin-top: -5px;
            &.layui-nav-mored{
                margin-top: -15px;
            }
        }
    }
    .layui-nav-bar{
        display: none;
    }
    
}

.admin-slide{
    &.layui-side{
        width: 222px;
    }
    &.layui-bg-black{
        background: #393939 !important;
    }
    .layui-side-scroll{
        width: 222px;
    }
    .layui-nav-tree{
        width: 222px;
        &.layui-nav{
            background: #393939;
            .layui-nav-more{
                background: url(../images/icon58.png) no-repeat;
                border: 0;
                width: 20px;
                height: 20px;
                margin-top: -10px;
                right: 32px;
                transform: rotate(-90deg);
            }
            .layui-nav-itemed{
                .layui-nav-more{
                    transform: rotate(0deg);
                }
            }
        }
        .layui-nav-child dd{
            &.layui-this{
                a{
                    background: #d23637;
                    border-color:#d23637;
                }
            }
        }
        .layui-nav-child dd:hover{
            background: #4D4D4D;
        }
        .layui-nav-item a{
            padding: 0;
            text-align: center;
            box-sizing: border-box;
            border-left: 4px solid #393939;
        }
        .layui-nav-item a:hover{
            border-left: 4px solid #d23636;
        }
        .layui-nav-itemed>.layui-nav-child{
            background-color: inherit !important;
        }
        .layui-nav-bar{
            display: none;
        }
    }
}
.layui-body{
    left: 222px;
    box-sizing: border-box;
    padding: 20px;
    background: #f5f5f5;
    height: 100%;
}
.admin-content{
    background: #fff;
    padding: 30px 20px;
    .admin-top-title{
        position: relative;
        padding-bottom: 18px;
        border-bottom: 2px solid #DBDCE2;
        margin-bottom: 18px;
        .page-btn{
            border: 1px solid #D8D8D8;
            position: absolute;
            top: 0;
            left: 0;
            a{
                font-size: 14px;
                color: #999999;
                display: inline-block;
                width: 100px;
                line-height: 40px;
                text-align: center;
                &:first-child{
                    border-right: 1px solid #D8D8D8;
                }
                &:hover,&.on{
                    background: #FEFBF9;
                    color: #D23637;
                }
            }
        }
        .title{
            h1{
                font-size: 24px;
                color: #333333;
                text-align: center;
            }
        }
        .issue-btn{
            position: absolute;
            top: 0;
            right: 0;
            a{
                display: inline-block;
                width: 100px;
                line-height: 40px;
                text-align: center;
                font-size: 14px;
                color: #FFFFFF;
                background: #D23637;
            }
        }
        .money{
            position: absolute;
            top: 0;
            right: 0;
            font-size: 24px;
            color: #D23637;
        }
    }
    .tops{
        display: flex; 
        justify-content: space-between;
        align-items: center;
        padding-bottom: 29px;
        border-bottom: 2px solid #DBDCE2;
        .date{
            display: flex;
            align-items: center;
            font-size: 18px;
            color: #403D3D;
            span{
                display: inline-block;
                margin: 0 20px;
                width: 8px;
                border-top: 1px solid #403D3D;
            }
            .wzlx{
                margin-left: 40px;
            }
            input{
                width: 190px;
                height: 40px;
                font-size: 14px;
                &.data-input{
                    background: url(../images/icon59.png) no-repeat 150px center;
                }
            }
            .layui-form-select dl dd.layui-this{
                background-color: #D23637;
            }
        }
        .search{
            input{
                width: 270px;
                height: 40px;
                border: 1px solid #979797;
                font-size: 14px;
                box-sizing: border-box;
                padding-left: 20px;
            }
            button{
                font-size: 16px;
                color: #000000;
                border: 1px solid #C0C0C1;
                box-sizing: border-box;
                width: 60px;
                height: 40px;
                background: #F8F9FB;
                cursor: pointer;
                margin-left: 20px;
                &:hover{
                    background: #D23637;
                    color: #fff;
                    border: 1px solid #D23637;
                }
            }
        }
    }
    .table{
        .title{
            h1{
                line-height: 63px;
                text-align: center;
                font-size: 24px;
                color: #333333;
            }
        }
        .list{
            table{
                thead{
                    tr{
                        background: #F8F0F0 ;
                        th{
                            height: 80px;
                            font-size: 20px;
                            color: #666666;
                            border-right: 1px solid #DBDCE2;
                            &:last-child{
                                border-right: 0;
                            }
                        }
                    }
                }
                tr{
                    &:nth-child(odd){
                        
                    }
                    &:nth-child(even){
                        background: #FEFBF9;
                    }
                    td{
                        &.handle{
                            a{
                                display: inline-block;
                                margin: 0 10px;
                                &:hover{
                                    color: #D23637;
                                }
                            }
                        }
                        height: 80px;
                        font-size: 20px;
                        color: #666666;
                        text-align: center;
                        border-right: 1px solid #DBDCE2;
                        &.a-red{
                            a{
                                color: #D23637;
                            }
                        }
                        &:last-child{
                            border-right: 0;
                        }
                    }
                }
            }
            #page,#page1{
                text-align: center;
                margin: 40px 0;
                .layui-laypage a{
                    margin-right: 12px;
                }
                .layui-laypage a:hover{
                    color: #D23637;
                }
                .layui-laypage>:first-child,.layui-laypage-next,.layui-laypage-skip{
                    border: 0;
                    width: auto !important;
                }
                .layui-laypage a, .layui-laypage span{
                    padding: 0;
                    width: 30px;
                    text-align: center;
                    line-height: 30px;
                    height: 30px;
                    margin: 0 12px;
                    font-size: 14px;
                    color: #4A4A4A;
                }
                .layui-laypage .layui-laypage-curr .layui-laypage-em{
                    background-color: #D23637;
                    color: #fff;
                }
                .layui-laypage input{
                    width: 136px;
                    height: 30px;
                    font-size: 14px;
                    &:focus{
                        border: 1px solid #D23637!important;
                    }
                }
                .layui-laypage-btn{
                    height: 30px;
                    line-height: 30px;
                    border: 1px solid #D23637;
                    padding: 0 20px;
                    margin-left: 26px;
                    color: #D23637;
                }
            }
        }
    }
}
.admin-joinSr{
    .tops{
        border-bottom: 0;
    }
}
.del-alert{
    width: 469px;
    padding-bottom: 30px;
    .title{
        background: #F8F0F0;
        text-align: center;
        h1{
            font-size: 30px;
            color: #9699AC;
            line-height: 60px;
        }
    }
    .content{
        text-align: center;
        p{
            line-height: 100px;
            font-size: #9699AC;
            font-size: 24px;
            color: #9699AC;
        }
        .btn{
            a{
                display: inline-block;
                font-size: 20px;
                color: #000000;
                width: 160px;
                line-height: 40px;
                background: #FEFBF9;
                box-sizing: border-box;
                border: 1px solid #979797;
                margin: 0 15px;
                &:hover{
                    background: #D23637;
                    border: 1px solid #D23637;
                    color: #fff;
                }
                &.layui-layer-close{
                    position: relative;
                }
            }
        }
    }
}
.admin-position{
    font-size: 16px;
    color: #D23637;
    margin-bottom: 20px;
    a{
        color: #D23637;
    }
}
.admin-joinSr-issue{
    padding-left: 200px;
    .layui-form{
        .layui-form-item{
            margin-bottom: 20px;
        }
        .layui-form-label{
            text-align: left;
            font-size: 20px;
            color: #282828;
            padding: 0 15px;
            line-height: 50px;
            width: 120px;
            text-align: left;
        }
        .layui-input-block{
            margin-left: 150px;
            width: 500px;
        }
        .layui-form-select dl dd{
            font-size: 20px;
        }
        .layui-form-text{
            .layui-input-block{
                width: 1172px;
                .layui-textarea{
                    font-size: 20px;
                    height: 177px;
                }
            }
        }
        .ydl-item{
            .layui-input-block{
                width: 140px;
            }
        }
        .layui-form-select dl dd.layui-this{
            background-color: #D23637;
        }
        .layui-input{
            height: 50px;
            font-size: 20px;
        }
        .btn{
            margin-left: 150px;
            a{
                display: inline-block;
                width: 160px;
                line-height: 40px;
                font-size: 20px;
                color: #FFFFFF;
                background: #C5C5C5;
                text-align: center;
                margin-right: 30px;
                &:hover{
                    background: #D23637;
                }
            }
        }
    }
}
.admin-news{
    .tops{
        margin-bottom: 13px;
    }
}
.admin-news-add{
    padding-left: 200px;
    .layui-form{
        .layui-form-label{
            text-align: left;
            font-size: 20px;
            color: #282828;
            padding: 0 15px;
            line-height: 50px;
            width: 100px;
            text-align: left;
        }
        .tit-item{
            .layui-input-block{
                width: 500px;
            }
        }
        .zw-item{
            .layui-input-block{
                width: 1206px;
            }
        }
        .sc-item{
            .layui-btn{
                width: 169px;
                height: 177px;
                background: url(../images/up1.jpg) no-repeat;
            }
        }
        .layui-input-block{
            margin-left: 130px;
            width: 334px;
        }
        .layui-input{
            height: 50px;
            font-size: 20px;
        }
        .layui-form-select dl dd{
            font-size: 20px;
        }
    }
}
.admin-news-add{
    margin-bottom: 40px;
    .layui-form{
        .btn{
            margin-left: 130px;
            a{
                display: inline-block;
                width: 160px;
                line-height: 40px;
                font-size: 20px;
                color: #FFFFFF;
                background: #C5C5C5;
                text-align: center;
                margin-right: 30px;
                &:hover{
                    background: #D23637;
                }
            }
        }
    }
}
.gw-alert{
    padding: 60px;
    width: 620px;
    height: 571px;
    box-sizing: border-box;
    .layui-tree-txt{
        font-size: 20px;
    }
    .layui-tree-line .layui-tree-entry:hover .layui-tree-txt{
        color: #D23637;
        border-bottom: 0;
        text-decoration: none;
    }
    .layui-form-checked[lay-skin=primary] i{
        border-color: #D23637!important;
        background-color: #D23637;
        color: #fff;
    }
}
.set-price{
    padding-bottom: 60px;
    .admin-content{
        background: none;
    }
    .admin-top-title{
        border-bottom: 0;
    }
    .list-content{
        .list{
            ul{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                li{
                    width: 789px;
                    background: #fff;
                    text-align: center;
                    margin-bottom: 55px;
                    padding-top: 33px;
                    h1{
                        font-size: 20px;
                        color: #D23637;
                        margin-bottom: 45px;
                    }
                    .input-item{
                        font-size: 20px;
                        color: #666666;
                        margin-bottom: 30px;
                        input{
                            width: 122px;
                            height: 40px;
                            margin: 0 8px;
                        }
                    }
                }
            }
            .btn{
                text-align: center;
                a{
                    display: inline-block;
                    font-size: 20px;
                    color: #FFFFFF;
                    background: #D23637;
                    padding: 5px 70px;
                }
            }
        }
    }
}
.user-management{
    .admin-top-title{
        .number{
            position: absolute;
            top: 0;
            right: 0;
            font-size: 24px;
            color: #D23637;
        }
    }
    .table{
        .passBtn{
            position: relative;
            input{
                font-size: 20px;
                border: 0;
                text-align: center;
                background: none;
            }
            i{
                position: absolute;
                top: 0;
                right: 10%;
                width: 20px;
                height: 100%;
                z-index: 1;
                cursor: pointer;
                &:hover{
                    &::before{
                        content: "\e9ff";
                    }
                }
                &::before{
                    content: "\e641";
                    position: absolute;
                    top: 50%;
                    transform: translate(0,-50%);
                    right: 0;
                    font-size: 20px;
                    font-family: "iconfont";
                }
            }
        }
        .operation{
            position: relative;
            &:hover{
                ul{
                    display: block;
                }
            }
            i{
                font-size: 25px;
                cursor: pointer;
            }
            ul{
                display: none;
                position: absolute;
                left: 50px;
                background: #fff;
                border: 1px solid #979797;
                width: 130px;
                z-index: 1;
                li{
                    line-height: 30px;
                    font-size: 14px;
                    text-align: left;
                    padding:0 5px;
                    a{
                        display: block;
                        color: #999999;
                    }
                    &:hover{
                        background: #D23637;
                        a{
                            color: #fff;
                        }
                        
                    }
                }
            }
        }
    }
}
.invitation-run{
    .invitation-link{
        background: #fff;
        margin-bottom: 20px;
        text-align: center;
        padding: 25px 0;
        h1{
            font-size: 24px;
            color: #D23637;
            margin-bottom: 10px;
        }
        p{
            font-size: 24px;
            color: #666666;
            span{
            }
            a{
                margin-left: 30px;
                display: inline-block;
                font-size: 16px;
                color: #FFFFFF;
                background: #D23637;
                padding: 5px 10px;
            }
        }
    }
    .run-content{
        display: flex;
        justify-content: space-between;
        .slide-nav{
            width: 379px;
            background: #fff;
            font-size: 20px;
            color: #666666;
            box-sizing: border-box;
            padding: 43px 20px;
            .layui-tree-entry{
                height: 30px;
            }
            .layui-tree-icon{
                width: 15px;
                height: 15px;
                line-height: 12px;
                .layui-icon{
                    font-size: 15px;
                }
            }
            .layui-tree-iconClick .layui-icon-file{
                display: none;
            }
            .layui-tree-line .layui-tree-entry:hover .layui-tree-txt{
                color: #D23637;
                border-bottom: 0;
                text-decoration: none;
            }
        }
        .admin-content{
            width: 1216px;
            padding:20px 0;
            .admin-top-title{
                .title{
                    h1{
                        font-size: 20px;
                    }
                }
                .number{
                    position: absolute;
                    top: 0;
                    right: 20px;
                    font-size: 20px;
                    color: #D23637;
                }
            }
            .tops{
                padding: 0 20px 24px;
                border-bottom: 0;
            }
        }
    }
}