<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="import" href="../common/common.html"/>
    <script src="../js/service/enterpriseServiceService.js"></script>
    <script src="../js/controller/enterpriseServiceController.js"></script>
    <script src="../js/enterpriseServicemain.js"></script>
    <!-- 当前页面 -->
    <link rel="stylesheet" href="../lib/swiper/dist/css/swiper.min.css">
    
</head>
<body ng-app="soiroc"  ng-controller="enterpriseServiceController">
    <header class="header marginBottom">
        <div class="banner">
            <div class="swiper-container swiper-container1">
                <div class="swiper-wrapper">
                    <div class="swiper-slide "><a href="javascript:;">
                        <img src="../images/qiyebanner.png" alt="">
                    </a></div>
                </div>
            </div>          
        </div>
        <nav class="nav">
            
        </nav>
        <div class="content">
            <div class="marginAuto">
                <div class="loginAlert hide">
                    
                </div>
            </div>
        </div>
    </header>
    <div class="doServices-xd hide">
        <span>您请耐心等待，近期将有专属顾问与您联系~</span>
    </div>
    <div class="tips-positoin ">
        <div class="marginAuto">
            <span>当前位置：</span>企业服务-服务详情页
        </div>
    </div>
    <div class="doServices">
        <div class="marginAuto">
            <div class="btn">
                <a class="on" href="javascript:;">
                    <i></i>
                    <h1>高级人才寻访</h1>
                </a>
                <a href="javascript:;">
                    <i></i>
                    <h1>顶级人才寻访</h1>
                </a>
                <a href="javascript:;">
                    <i></i>
                    <h1>招聘服务流程外包</h1>
                </a>
                <a href="javascript:;">
                    <i></i>
                    <h1>人才背景调查</h1>
                </a>
                <a href="javascript:;">
                    <i></i>
                    <h1>薪酬调查服务</h1>
                </a>
            </div>
            <div class="list">
                <ul>
                    <li>
                        <h1>服务对象</h1>
                        <p>
                                国内外大中型企业高级<br />管理人才或稀缺专业<br />人才100万年薪以上岗位
                        </p>
                    </li>
                    <li>
                        <h1>典型职位</h1>
                        <p>
                                各类总经理、副总经理<br />稀缺人才<br />
                        </p>
                    </li>
                    <li>
                        <h1>寻访方式</h1>
                        <p>
                                独家委托
                        </p>
                    </li>
                    <li>
                        <h1>收费标准</h1>
                        <p>
                                候选人税前年薪的35%，<br />其中启动金占总<br />服务费的30%
                        </p>
                    </li>
                    <li>
                        <h1>保用期限</h1>
                        <p>
                                六个月
                        </p>
                    </li>
                    <li>
                        <h1>寻猎时间</h1>
                        <p>
                                二周内推荐人选，一到<br />三个月完成项目
                        </p>
                    </li>
                    <li>
                        <h1>服务承诺</h1>
                        <p>
                                签约后，非客户原因，确保<br />全案解决客户问题
                        </p>
                    </li>
                    <li>
                        <h1>启动时间</h1>
                        <p>
                                在签订正式人才寻访合约<br />并付清启动金后开始寻访
                        </p>
                    </li>
                </ul>
                <div class="listBtn">
                    <a href="javascript:;">立即咨询</a>
                    <a href="javascript:;" class="ljxd">立即下单</a>
                </div>
            </div>
            <div class="list hide">
                <ul>
                    <li>
                        <h1>服务对象</h1>
                        <p>
                                国内外大中型企业的<br />1000万年薪以上岗位
                        </p>
                    </li>
                    <li>
                        <h1>典型职位</h1>
                        <p>
                                CEO、COO、CFO
                        </p>
                    </li>
                    <li>
                        <h1>寻访方式</h1>
                        <p>
                                独家委托
                        </p>
                    </li>
                    <li>
                        <h1>保用期限</h1>
                        <p>
                                六个月
                        </p>
                    </li>
                    <li>
                        <h1>寻猎时间</h1>
                        <p>
                                二周内推荐人选，一到<br />三个月完成项目
                        </p>
                    </li>
                    <li>
                        <h1>服务承诺</h1>
                        <p>
                                签约后，非客户原因，确保<br />全案解决客户问题
                        </p>
                    </li>
                    <li>
                        <h1>收费标准</h1>
                        <p>
                                候选人税前年薪的35%，其中<br />启动金占总服务费的30%
                        </p>
                    </li>
                </ul>
                <div class="listBtn">
                    <a href="javascript:;">立即咨询</a>
                    <a href="javascript:;" class="ljxd">立即下单</a>
                </div>
            </div>
            <div class="list hide">
                <ul>
                    <li>
                        <h1>服务对象</h1>
                        <p>
                                有大量各级别人才需求的<br />大中型企业集团
                        </p>
                    </li>
                    <li>
                        <h1>服务类型</h1>
                        <p>
                                长期外包，项目外包
                        </p>
                    </li>
                    <li>
                        <h1>寻访方式</h1>
                        <p>
                                独家合作
                        </p>
                    </li>
                    <li>
                        <h1>服务内容</h1>
                        <p>
                                组织设置、需求梳理、招聘广告，简历筛选，专业测评，人力面试，背调，推荐，试用辅导等
                        </p>
                    </li>
                    <li>
                        <h1>收费标准</h1>
                        <p>
                                项目标的20%；其中启动资金占项目标的的20%，境外的需要根据所出差国家增加差旅费
                        </p>
                    </li>
                    <li>
                        <h1>保用期限</h1>
                        <p>
                                三个月
                        </p>
                    </li>
                    <li>
                        <h1>寻猎时间</h1>
                        <p>
                                根据客户的项目情况签订完成日程
                        </p>
                    </li>
                    <li>
                        <h1>服务范围</h1>
                        <p>
                                全国范围；商壤可以派出项目组，派驻客户在外地的业务机构
                        </p>
                    </li>
                    <li>
                        <h1>服务承诺</h1>
                        <p>
                                确保达成客户的招聘指标
                        </p>
                    </li>
                </ul>
                <div class="listBtn">
                    <a href="javascript:;">立即咨询</a>
                    <a href="javascript:;" class="ljxd">立即下单</a>
                </div>
            </div>
            <div class="list hide">
                <ul>
                    <li>
                        <h1>聘用调查</h1>
                        <p>
                                对客户拟聘请人选进行工作履历、贡献值、职业口碑调查，以规避客户用人风险
                        </p>
                    </li>
                    <li>
                        <h1>忠诚调查</h1>
                        <p>
                                对在职核心人员进行忠诚调查，包含对企业的满意度，上下级关系，潜在跳槽动机等，保障企业安全
                        </p>
                    </li>
                    <li>
                        <h1>离职调查</h1>
                        <p>
                                对企业核心离职人员的去向，离职后是否和原有企业有竞争性经营行为等调查
                        </p>
                    </li>
                    <li>
                        <h1>完成时间</h1>
                        <p>
                                1-2周
                        </p>
                    </li>
                    <li>
                        <h1>收费标准</h1>
                        <p>
                                整体收费为人选年薪的10%，项目启动前，需要预付启动资金的一半作为项目活动费
                        </p>
                    </li>
                    <li>
                        <h1>服务承诺</h1>
                        <p>
                                在客户要求时间内完成，调查信息真实、准确
                        </p>
                    </li>
                    <li>
                        <h1>服务程序</h1>
                        <p>
                                在客户下达正式的委托函，并付清首付款后进行
                        </p>
                    </li>
                    <li>
                        <h1>回避原则</h1>
                        <p>
                                商壤公司的VIP会员，商壤会<br />提供全面的个人隐私保护，<br />不会参与背景调查
                        </p>
                    </li>
                </ul>
                <div class="listBtn">
                    <a href="javascript:;">立即咨询</a>
                    <a href="javascript:;" class="ljxd">立即下单</a>
                </div>
            </div>
            <div class="list hide">
                <ul>
                    <li>
                        <h1>竞争调查</h1>
                        <p>
                                帮助企业研究竞争对手，进而采取科学的发展策略超越对手
                        </p>
                    </li>
                    <li>
                        <h1>行业调查</h1>
                        <p>
                                对企业所处行业的薪酬调查
                        </p>
                    </li>
                    <li>
                        <h1>涉足行业</h1>
                        <p>
                                本项调查目前主要提供地产、能源、金融、电商这几个行业
                        </p>
                    </li>
                    <li>
                        <h1>调查时间</h1>
                        <p>
                                开展调查，根据企业要求的深度<br />不同，一般1-2个月时间
                        </p>
                    </li>
                    <li>
                        <h1>调查回避</h1>
                        <p>
                                和商壤有战略合作的企业不列入调查范围
                        </p>
                    </li>
                </ul>
                <div class="listBtn">
                    <a href="javascript:;">立即咨询</a>
                    <a href="javascript:;" class="ljxd">立即下单</a>
                </div>
            </div>
        </div>
    </div>
    <div class="enterpriseOrders hide">
        <div class="close layui-layer-close"><i class="iconfont">&#xe60d;</i></div>
        <div class="title">
            <h1>企业下单</h1>
            <h2>我们帮您提高招聘效率</h2>
        </div>
        <div class="from">
            <div class="inputBox layui-form" lay-filter="enterpriseOrders">
                <div class="layui-form-item">
                    <label class="layui-form-label"><i>*</i>申请项目</label>
                    <div class="layui-input-block">
                        <select name="applyItem" ng-model="entity.applyItem">
                            <option value=""></option>
                            <option value="高级人才寻访">高级人才寻访</option>
                            <option value="顶级人才寻访">顶级人才寻访</option>
                            <option value="招聘服务外包流程">招聘服务外包流程</option>
                            <option value="人才背景调查">人才背景调查</option>
                            <option value="薪酬调查服务">薪酬调查服务</option>
                        </select>
                        <span class="error" ng-bind="entity.errorMsg.applyItem"></span>
                    </div>
                </div>
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">项目概括</label>
                    <div class="layui-input-block">
                        <textarea name="desc" placeholder="请输入内容" class="layui-textarea" ng-model="entity.generalize"></textarea>
                        <span class="error" ng-bind="entity.errorMsg.generalize"></span>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><i>*</i>公司名称</label>
                    <div class="layui-input-block">
                        <input type="text" name="title" ng-model="entity.corporateName" placeholder="请输入标题" autocomplete="off" class="layui-input">
                        <span class="error" ng-bind="entity.errorMsg.corporateName"></span>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><i>*</i>联系人</label>
                    <div class="layui-input-block">
                        <input type="text" name="title" ng-model="entity.contacts" placeholder="请输入标题" autocomplete="off" class="layui-input">
                        <span class="error" ng-bind="entity.errorMsg.contacts"></span>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label"><i>*</i>联系人手机</label>
                    <div class="layui-input-block">
                        <input type="text" name="title" ng-model="entity.contactsPhone" placeholder="请输入标题" autocomplete="off" class="layui-input">
                        <span class="error" ng-bind="entity.errorMsg.contactsPhone"></span>
                    </div>
                </div>
                <div class="btn">
                    <a ng-click="save()" href="javascript:;">确认下单</a>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        
    </footer>
    <div class="alertBox">

    </div>
    <!-- 当前页面 -->
    <script src="../lib/swiper/dist/js/swiper.min.js"></script>
    <script>
        $(function(){
            var swiper = new Swiper('.swiper-container1', {
                loop : true,
                effect : 'fade',
                autoplay: {
                    delay: 5000,
                    stopOnLastSlide: false,
                    disableOnInteraction: true,
                },
            });
            layui.use(['layer'], function(){
                 $(".ljxd").click(function(){
                    layer.open({     
                        type: 1,
                        title: false,
                        closeBtn: 0,
                        shadeClose: true,
                        skin: 'enterpriseOrdersAlert',
                        area: 'auto',
                        maxWidth :"auto",
                        maxHeight : "auto",
                        resize : false,
                        content: $(".enterpriseOrders")
                    });
                });
            });
        });
    </script>
</body>
</html>