<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="import" href="../common/common.html"/>
    <script src="../js/service/enterpriseServiceService.js"></script>
    <script src="../js/controller/enterpriseServiceController.js"></script>
    
    <!-- 当前页面 -->
    <link rel="stylesheet" href="../lib/swiper/dist/css/swiper.min.css">
    <!-- 当前页面 -->
    <script src="../lib/swiper/dist/js/swiper.min.js"></script>
    <script src="http://james.padolsey.com/demos/grayscale/grayscale.js"></script>
    <script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?14e89131f0fe9e120e7a95bdc42bf6c9";
        var s = document.getElementsByTagName("script")[0]; 
        s.parentNode.insertBefore(hm, s);
    })();
    </script>
</head>
<body ng-app="soiroc" ng-controller="enterpriseServiceController">
    <header class="header marginBottom">
        <div class="banner">
            <div class="swiper-container swiper-container1">
                <div class="swiper-wrapper">
                    <div class="swiper-slide "><a href="javascript:;">
                        <img src="../images/qiyebanner.png" alt="">
                    </a></div>
                </div>
            </div>          
        </div>
        <nav class="nav">
            
        </nav>
        <div class="content">
            <div class="marginAuto">
                <div class="loginAlert hide">
                    
                </div>
            </div>
        </div>
    </header>
    <div class="enterpriseServices">
        <div class="marginAuto">
            <div class="title">
                <div class="tips" style="display: none">
                    <strong>您请耐心等待，近期将有专属顾问与您联系~</strong>
                </div>
                <h1>为企业提供哪些服务</h1>
                <h2>多种猎头服务，满足用户多元化需求</h2>
            </div>
            <div class="list">
                <ul>
                    <li>
                        <a href="企业服务-服务详情页.html#tab1">
                            <div class="describe">
                                <img src="../images/icon10.png" alt="">
                                <h1>高级人才寻访</h1>
                                <span>详情<i class="iconfont">&#xe600;</i></span>
                            </div>
                            <div class="test">
                                <h2>高级人才寻访</h2>
                                <p>
                                    服务对象：国内外大中型企业高级管理人才或稀缺专业人才，100万年薪以上岗位；
                                </p>
                                <p>
                                    典型职位：各类总经理、副总经理、稀缺人才；
                                </p>
                                <p>
                                    寻访方式：独家委托；
                                </p>
                                <h3>
                                    <span>详情<i class="iconfont">&#xe600;</i></span>
                                </h3>
                                
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="企业服务-服务详情页.html#tab2">
                            <div class="describe">
                                <img src="../images/icon11.png" alt="">
                                <h1>顶级人才寻访</h1>
                                <span>详情<i class="iconfont">&#xe600;</i></span>
                            </div>
                            <div class="test">
                                <h2>顶级人才寻访</h2>
                                <p>
                                        服务对象：国内外大中型企业的，1000万年薪以上岗位；
                                </p>
                                <p>
                                        典型职位：CEO、COO、CFO
                                </p>
                                <p>
                                        寻访方式：独家委托；
                                </p>
                                <h3>
                                    <span>详情<i class="iconfont">&#xe600;</i></span>
                                </h3>
                                
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="企业服务-服务详情页.html#tab3">
                            <div class="describe">
                                <img src="../images/icon12.png" alt="">
                                <h1>招聘服务外包流程</h1>
                                <span>详情<i class="iconfont">&#xe600;</i></span>
                            </div>
                            <div class="test">
                                <h2>招聘服务外包流程</h2>
                                <p>
                                    服务对象：有大量各级别人才需求的大中型企业集团；
                                </p>
                                <p>
                                        服务类型：长期外包，项目外包；
                                </p>
                                <p>
                                        寻访方式：独家合作；
                                </p>
                                <h3>
                                    <span>详情<i class="iconfont">&#xe600;</i></span>
                                </h3>
                                
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="企业服务-服务详情页.html#tab4">
                            <div class="describe">
                                <img src="../images/icon13.png" alt="">
                                <h1>人才背景调查</h1>
                                <span>详情<i class="iconfont">&#xe600;</i></span>
                            </div>
                            <div class="test">
                                <h2>人才背景调查</h2>
                                <p>
                                        聘用调查：对客户拟聘请人选进行工作履历、贡献值、职业口碑调查，以规避客户用人风险；
                                </p>
                                <p>
                                        忠诚调查：对在职核心人员进行忠诚调查，包含对企业的满意度，上下级关系，潜在跳槽动机等，保障企业安全；
                                </p>
                                <h3>
                                    <span>详情<i class="iconfont">&#xe600;</i></span>
                                </h3>
                                
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="企业服务-服务详情页.html#tab5">
                            <div class="describe">
                                <img src="../images/icon14.png" alt="">
                                <h1>薪酬调查服务</h1>
                                <span>详情<i class="iconfont">&#xe600;</i></span>
                            </div>
                            <div class="test">
                                <h2>招聘服务流程外包</h2>
                                <p>
                                        竞争调查：帮助企业研究竞争对手，进而采取科学的发展策略超越对手；
                                </p>
                                <p>
                                        行业调查：对企业所处行业的薪酬调查；
                                </p>
                                <p>
                                        涉足行业：本项调查目前主要提供地产、能源、金融、电商这几个行业；

                                </p>
                                <h3>
                                    <span>详情<i class="iconfont">&#xe600;</i></span>
                                </h3>
                                
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="ourAdvantage">
        <div class="marginAuto">
            <div class="title">
                <h1>我们的优势</h1>
                <h2>为各行业提供性价比最高的服务</h2>
            </div>
            <div class="list">
                <ul>
                    <li>
                        <a href="javascript:;">
                            <img src="../images/icon15.png" alt="">
                            <h1>高效</h1>
                            <p>
                                产品咨询响应快
                            </p>
                            <p>
                                推荐流程服务快
                            </p>
                            <p>
                                人选背调速度快
                            </p>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <img src="../images/icon16.png" alt="">
                            <h1>精准</h1>
                            <p>
                                职位调研JD精准
                            </p>
                            <p>
                                优秀猎头精准匹配
                            </p>
                            <p>
                                薪资调查高度精准
                            </p>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <img src="../images/icon17.png" alt="">
                            <h1>专业</h1>
                            <p>
                                    1万+猎头在线服务
                            </p>
                            <p>
                                    数十年行业深耕
                            </p>
                            <p>
                                    100万+精英人才
                            </p>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <img src="../images/icon18.png" alt="">
                            <h1>省钱</h1>
                            <p>
                                    省时间
                            </p>
                            <p>
                                    胜人力
                            </p>
                            <p>
                                    省成本
                            </p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="oneService">
        <div class="marginAuto">
            <div class="title">
                <h1>一对一专业服务</h1>
                <span>顾问专业的职位调研分析、招聘流程服务等，帮助HR节省时间和精力</span>
            </div>
            <div class="list">
                <ul>
                    <li><a href="javascript:;">
                        <div class="img">
                            <img src="../images/one.jpg" alt="">
                            <h1>
                                <strong>事业部总监</strong>
                                <span>Donna Kreiger</span>
                            </h1>
                        </div>
                        <div class="test">
                            <h1>服务过<font>23家</font>企业</h1>
                            <p>
                                猎头的责任就是为企业寻猎有能力的专业人才，很荣幸为两百多家企业提供过人力服务
                            </p>
                        </div>
                    </a></li>
                    <li><a href="javascript:;">
                        <div class="img">
                            <img src="../images/one.jpg" alt="">
                            <h1>
                                <strong>事业部总监</strong>
                                <span>Donna Kreiger</span>
                            </h1>
                        </div>
                        <div class="test">
                            <h1>服务过<font>23家</font>企业</h1>
                            <p>
                                猎头的责任就是为企业寻猎有能力的专业人才，很荣幸为两百多家企业提供过人力服务
                            </p>
                        </div>
                    </a></li>
                    <li><a href="javascript:;">
                        <div class="img">
                            <img src="../images/one.jpg" alt="">
                            <h1>
                                <strong>事业部总监</strong>
                                <span>Donna Kreiger</span>
                            </h1>
                        </div>
                        <div class="test">
                            <h1>服务过<font>23家</font>企业</h1>
                            <p>
                                猎头的责任就是为企业寻猎有能力的专业人才，很荣幸为两百多家企业提供过人力服务
                            </p>
                        </div>
                    </a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="serviceEnterprise">
        <div class="marginAuto">
            <div class="title">
                <h1>服务企业</h1>
                <h2>为各企业提供全方位人才解决方案</h2>
            </div>
            <div class="list">
                <ul>
                    <li>
                        <a href="javascript:;">
                            <img src="../images/icon19.png" alt="">
                            <h1>地产</h1>
                            <p>成功服务<font>3453</font>家企业</p>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <img src="../images/icon20.png" alt="">
                            <h1>金融</h1>
                            <p>成功服务<font>3453</font>家企业</p>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <img src="../images/icon21.png" alt="">
                            <h1>电商</h1>
                            <p>成功服务<font>3453</font>家企业</p>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <img src="../images/icon22.png" alt="">
                            <h1>其他</h1>
                            <p>成功服务<font>3453</font>家企业</p>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="links">
                <a href="javascript:;"><img src="../images/links1_b.png" alt=""></a>
                <a href="javascript:;"><img src="../images/links2_b.png" alt=""></a>
                <a href="javascript:;"><img src="../images/links3_b.png" alt=""></a>
                <a href="javascript:;"><img src="../images/links4_b.png" alt=""></a>
                <a href="javascript:;"><img src="../images/links5_b.png" alt=""></a>
                <a href="javascript:;"><img src="../images/links6_b.png" alt=""></a>
            </div>
        </div>
    </div>
    <div class="enterpriseOrders">
        <div class="title">
            <h1>企业下单</h1>
            <h2>我们帮您提高招聘效率</h2>
        </div>
        <div class="from">
	            <div class="inputBox layui-form" lay-filter="enterpriseOrders">
	                <div class="layui-form-item">
	                    <label class="layui-form-label"><i>*</i>申请项目</label>
	                    <div class="layui-input-block">
	                        <select name="applyItem" ng-model="entity.applyItem">
	                            <option value="高级人才寻访">高级人才寻访</option>
	                            <option value="顶级人才寻访">顶级人才寻访</option>
	                            <option value="招聘服务外包流程">招聘服务外包流程</option>
	                            <option value="人才背景调查">人才背景调查</option>
	                            <option value="薪酬调查服务">薪酬调查服务</option>
                            </select>
                            <span class="error" ng-bind="entity.errorMsg.applyItem"></span>
	                    </div>
	                </div>
	                <div class="layui-form-item layui-form-text">
	                    <label class="layui-form-label">项目概括</label>
	                    <div class="layui-input-block">
	                        <textarea name="desc" placeholder="请输入内容" class="layui-textarea" ng-model="entity.generalize"></textarea>
	                    </div>
	                </div>
	                <div class="layui-form-item">
	                    <label class="layui-form-label"><i>*</i>公司名称</label>
	                    <div class="layui-input-block">
	                        <input type="text" name="title" ng-model="entity.corporateName" placeholder="请输入公司名称" autocomplete="off" class="layui-input">
	                        <span class="error" ng-bind="entity.errorMsg.corporateName"></span>
	                    </div>
	                </div>
	                <div class="layui-form-item">
	                    <label class="layui-form-label"><i>*</i>联系人</label>
	                    <div class="layui-input-block">
                            <input type="text" name="title"  ng-model="entity.contacts" placeholder="请输入联系人" autocomplete="off" class="layui-input">
                            <span class="error" ng-bind="entity.errorMsg.contacts"></span>
	                    </div>
	                </div>
	                <div class="layui-form-item">
	                    <label class="layui-form-label"><i>*</i>联系人手机</label>
	                    <div class="layui-input-block">
                            <input type="text" name="title" ng-model="entity.contactsPhone" placeholder="请输入联系人手机号" autocomplete="off" class="layui-input">
                            <span class="error" ng-bind="entity.errorMsg.contactsPhone"></span>
	                    </div>
	                </div>
	                <div class="btn">
	                    <a ng-click="save()">确认下单</a>
	                </div>
	            </div>
        </div>
    </div>
    <footer class="footer">
        
    </footer>
    <div class="alertBox">

    </div>
    
    <script>
        $(function(){
            var swiper = new Swiper('.swiper-container1', {
                loop : true,
                effect : 'fade',
                autoplay: {
                    delay: 5000,
                    stopOnLastSlide: false,
                    disableOnInteraction: true,
                },
            });  
        });
    </script>
</body>
</html>