<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="import" href="../common/common.html"/>
    <script src="../js/service/soiroccollegeService.js"></script>
	<script src="../js/controller/soiroccollegeController.js"></script>
    <!-- 当前页面 -->
    <link rel="stylesheet" href="/lib/swiper/dist/css/swiper.min.css">
</head>
<body ng-app="soiroc" ng-controller="soiroccollegeController">
    <header class="header marginBottom">
        <div class="banner">
            <div class="swiper-container swiper-container1">
                <div class="swiper-wrapper">
                    <div class="swiper-slide "><a href="javascript:;">
                        <img src="../images/renlipeixun.png" alt="">
                    </a></div>
                </div>
            </div>
            <div class="bannerBtn">
                <a href="javascript:;">立即咨询</a>
            </div>
        </div>
        <nav class="nav">
            
        </nav>
        <div class="content">
            <div class="marginAuto">
                <div class="loginAlert hide">
                    
                </div>
            </div>
        </div>
    </header>
    <div class="tips-positoin ">
        <div class="marginAuto">
            <span>当前位置：</span>商壤学院—人力培训
        </div>
    </div>
    <div class="coreResources">
        <div class="marginAuto">
            <div class="title">
                <h1>人力资源是企业的核心资源</h1>
            </div>
            <div class="test">
                <p>
                    人力资源在企业发展有着重要的地位<br />
                    把握和运用好核心资源<br />
                    等于提高企业生产力<br />
                    等于提高企业效益
                </p>
            </div>
        </div>
    </div>
    <div class="hrSkill">
        <div class="marginAuto">
            <div class="title">
                <h1>HR必备技能</h1>
                <h2>做人力资源的很多，为什么是你脱颖而出？</h2>
            </div>
            <div class="list">
                <ul>
                    <li>
                        <div class="test">
                            <h1>懂</h1>
                            <h2>薪酬绩效</h2>
                        </div>
                    </li>
                    <li>
                        <div class="test">
                            <h1>精</h1>
                            <h2>人才发展</h2>
                        </div>
                    </li>
                    <li>
                        <div class="test">
                            <h1>会</h1>
                            <h2>人员招聘</h2>
                        </div>
                    </li>
                    <li>
                        <div class="test">
                            <h1>做</h1>
                            <h2>员工培训</h2>
                        </div>
                    </li>
                    <li>
                        <div class="test">
                            <h1>通</h1>
                            <h2>员工关系</h2>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="courseAdvantage">
        <div class="marginAuto">
            <div class="title">
                <h1>课程优势</h1>
            </div>
            <div class="list">
                <ul>
                    <li>
                        <h1>内容实操</h1>
                        <p>
                            所有课程均针对企业人力资源管理痛点设
                            计，深度挖掘，对症下药；
                        </p>
                        <p>
                            有助于快速提升HR的方案设计、工具运
                            用、制度建设的能力，间接推动企业降
                            低成本，提高效率。
                        </p>
                        <a href="javascript:;">立即咨询</a>
                    </li>
                    <li>
                        <h1>品质课程</h1>
                        <p>
                                所有课程糅合理论和实战经验，授课方式灵活，既有
                                理论阐释，又有案例剖析；
                        </p>
                        <p>
                                讲授、互动、分组讨论、情景模拟多种教学方式交叉
                                运用，深入浅出，易学易用。
                        </p>
                        <a href="javascript:;">立即咨询</a>
                    </li>
                    <li>
                        <h1>品牌保证</h1>
                        <p>
                                品质铸就品牌，品牌背书品质。
                        </p>
                        <p>
                                商壤人力培训从课程设计-选师-试讲-
                                评估-筛选-评分-完善等多环节控制培训产品质量。
                        </p>
                        <a href="javascript:;">立即咨询</a>
                    </li>
                    <li>
                        <h1>性价比高</h1>
                        <p>
                                商壤人力培训精心遴选富有丰富实战经验的导师团队倾囊授课；
                        </p>
                        <p>
                                用普通的价格享受名师的辅导，是性价比超高的实操提升类课程。
                        </p>
                        <a href="javascript:;">立即咨询</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="hrThinking">
        <div class="marginAuto">
            <div class="title">
                <h1>6大HR核心模块，建立HR经理人思维</h1>
            </div>
            <div class="list">
                <ul>
                    <li>
                        <img src="../images/hrThinking.png" alt="">
                        <h1>人员甄选与招聘</h1>
                    </li>
                    <li>
                        <img src="../images/hrThinking.png" alt="">
                        <h1>员工培训与开发</h1>
                    </li>
                    <li>
                        <img src="../images/hrThinking.png" alt="">
                        <h1>员工关系管理</h1>
                    </li>
                    <li>
                        <img src="../images/hrThinking.png" alt="">
                        <h1>人才发展与职业生涯管理</h1>
                    </li>
                    <li>
                        <img src="../images/hrThinking.png" alt="">
                        <h1>绩效管理与激励</h1>
                    </li>
                    <li>
                        <img src="../images/hrThinking.png" alt="">
                        <h1>薪酬福利管理</h1>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="choAdvanced">
        <div class="marginAuto">
            <div class="title">
                <h1></h1>
            </div>
            <div class="test">  
                <img src="../images/CHOjinjie.png" alt="">
            </div>
        </div>
    </div>
    <div class="syllabus">
        <div class="marginAuto">
            <div class="title">
                <h1>课程大纲，系统学习从现在开始</h1>
            </div>
            <div class="table">
                <div class="bg"></div>
                <table>
                    <tr>
                        <th>课程名称</th>
                        <th>主要内容</th>
                        <th>天数</th>
                        <th>学时</th>
                    </tr>
                    <tr>
                        <td>HR如何站在企业主角度进行成本控制</td>
                        <td>指定性价比指定性价比指定性价比指定性价比指定性价比指定性价比指定性价比指定性价比指定性价比指定性价比指定性价比指定性价比</td>
                        <td>1</td>
                        <td>9</td>
                    </tr>
                    <tr>
                        <td>HR如何站在企业主角度进行成本控制</td>
                        <td>指定性价比指定性价比指定性价比指定性价比指定性价比指定性价比指定性价比指定性价比指定性价比指定性价比指定性价比指定性价比</td>
                        <td>1</td>
                        <td>9</td>
                    </tr>
                    <tr>
                        <td>HR如何站在企业主角度进行成本控制</td>
                        <td>指定性价比指定性价比指定性价比指定性价比指定性价比指定性价比指定性价比指定性价比指定性价比指定性价比指定性价比指定性价比</td>
                        <td>1</td>
                        <td>9</td>
                    </tr>
                    <tr>
                        <td>HR如何站在企业主角度进行成本控制</td>
                        <td>指定性价比指定性价比指定性价比指定性价比指定性价比指定性价比指定性价比指定性价比指定性价比指定性价比指定性价比指定性价比</td>
                        <td>1</td>
                        <td>9</td>
                    </tr>
                </table>
                <div class="btn">
                    <a href="javascript:;">立即咨询</a>
                </div>
            </div>
        </div>
    </div>
    <div class="trainingTarget">
        <div class="marginAuto">
            <div class="title">
                <h1>培训对象</h1>
            </div>
            <div class="list">
                <ul>
                    <li>
                        <img src="../images/peixun.png" alt="">
                        <h1>企业人力资源管理人员</h1>
                    </li>
                    <li>
                        <img src="../images/peixun.png" alt="">
                        <h1>有志于从事人力资源人员</h1>
                    </li>
                    <li>
                        <img src="../images/peixun.png" alt="">
                        <h1>对人力资源行业感兴趣的应届大学/毕业生</h1>
                    </li>
                    <li>
                        <img src="../images/peixun.png" alt="">
                        <h1>企业人力资源管理人员</h1>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="remark">
        <div class="marginAuto">
            <div class="title">
                <h1>客户评语</h1>
            </div>
            <div class="list">
                <ul>
                    <li>
                        <div class="test">
                            <p>
                                    老师讲课风格幽默风趣，同时，老师
                                    列举的示例确实是公司存在的问题，
                                    通过专业的解答，帮助员工解决遇到
                                    难题。
                            </p>
                        </div>
                        <img src="../images/icon40.png" alt="">
                    </li>
                    <li>
                        <div class="test">
                            <p>
                                选择商壤内训，是明智的决定，
                                老师很亲切，经验丰富，授课内
                                容易懂，课后的测评很到位，强
                                烈推荐。
                            </p>
                        </div>
                        <img src="../images/icon40.png" alt="">
                    </li>
                    <li>
                        <div class="test">
                            <p>
                                    从开始的需求沟通到方案确定再到老
                                    师开讲，无不体现着专业、认真的态
                                    度，每个人的收获很大，很不错。
                            </p>
                        </div>
                        <img src="../images/icon40.png" alt="">
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="commonProblem">
        <div class="marginAuto">
            <div class="title">
                <h1>常见问题</h1>
            </div>
            <div class="list">
                <ul>
                    <li>
                        <h1><i>Q</i>可以去猎头企业进行现场培训吗？</h1>
                        <p>
                            <i>A</i>可以，但需提前预约，我们将安排专业
                            讲师前往贵司进行培训
                        </p>
                    </li>
                    <li>
                        <h1><i>Q</i>培训时间为多少天？</h1>
                        <p>
                            <i>A</i>培训时间为3天左右
                        </p>
                    </li>
                    <li>
                        <h1><i>Q</i>如何获得发票？</h1>
                        <p>
                            <i>A</i>如需发票，培训完成后，我们会有专业
                            人员为贵司提供发票
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="trainingProgramme">
        <div class="marginAuto">
            <div class="title">
                <h1>免费定制企业培训方案</h1>
            </div>
            <div class="from">
                <form class="layui-form" action="">
                    <div class="layui-form-item">
                        <label class="layui-form-label"><i>*</i>申请项目</label>
                        <div class="layui-input-block">
                            <select name="applyItem" lay-filter="applyItem" ng-model="entity.applyItem">
                                <option value=""></option>
                                <option value="CEO">CEO</option>
	                            <option value="COO">COO</option>
	                            <option value="CFO">CFO</option>
	                            <option value="CIO">CIO</option>
	                            <option value="CTO">CTO</option>
                            </select>
                            <div class="errorBox" ng-bind="entity.errorMsg.applyItem"></div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label"><i>*</i>联系人</label>
                        <div class="layui-input-block">
                            <input type="text" name="contacts" required ng-model="entity.contacts" placeholder="请输入联系人" autocomplete="off" class="layui-input">
                            <div class="errorBox" ng-bind="entity.errorMsg.contacts"></div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label"><i>*</i>联系人手机</label>
                        <div class="layui-input-block">
                            <input type="text" name="contactsPhone" required ng-model="entity.contactsPhone" placeholder="请输入联系人手机号码" autocomplete="off" class="layui-input">
                            <div class="errorBox" ng-bind="entity.errorMsg.contactsPhone"></div>
                        </div>
                    </div>
                    <div class="layui-form-item layui-form-text">
                        <label class="layui-form-label">备注</label>
                        <div class="layui-input-block">
                            <textarea name="generalize" placeholder="请输入内容" class="layui-textarea" ng-model="entity.remark"></textarea>
                            <div class="errorBox" ng-bind="entity.errorMsg.remark"></div>
                        </div>
                    </div>
                    <div class="tel">
                        <h1>联系我们：010-84874980</h1>
                    </div>
                    <div class="btn">
                        <a ng-click="save()">确认下单</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="traintips">
        <h2>不给自己设限，人生才无上限</h2>
        <h1>联系我们：010-84874980</h1>
    </div>
    <footer class="footer">
        
    </footer>
    <div class="alertBox">

    </div>
    <!-- 当前页面 -->
    <script src="../lib/swiper/dist/js/swiper.min.js"></script>
    <script>
        $(function(){
            var swiper = new Swiper('.swiper-container1', {
                loop : true,
                effect : 'fade',
                autoplay: {
                    delay: 5000,
                    stopOnLastSlide: false,
                    disableOnInteraction: true,
                },
            });  
        });
    </script>
</body>
</html>