<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="import" href="../common/common.html"/>
    <script src="../js/service/soiroccollegeService.js"></script>
	<script src="../js/controller/soiroccollegeController.js"></script>
    <!-- 当前页面 -->
    <link rel="stylesheet" href="/lib/swiper/dist/css/swiper.min.css">
</head>
<body ng-app="soiroc" ng-controller="soiroccollegeController">
    <header class="header marginBottom">
        <div class="banner">
            <div class="swiper-container swiper-container1">
                <div class="swiper-wrapper">
                    <div class="swiper-slide "><a href="javascript:;">
                        <img src="../images/glpeixun.png" alt="">
                    </a></div>
                </div>
            </div>
            <div class="bannerBtn">
                <a href="javascript:;">立即咨询</a>
            </div>
        </div>
        <nav class="nav">
            
        </nav>
        <div class="content">
            <div class="marginAuto">
                <div class="loginAlert hide">
                    
                </div>
            </div>
        </div>
    </header>
    <div class="tips-positoin ">
        <div class="marginAuto">
            <span>当前位置：</span>商壤学院—管理培训
        </div>
    </div>
    <div class="bottleneck">
        <div class="title">
            <h1>你是否在管理企业是遇到瓶颈？</h1>
        </div>
        <div class="marginAuto">
            <div class="list">
                <ul>
                    <li>
                        <div class="icon">
                        </div>
                        <div class="test">
                            <p>
                                互联网时代，<br />
                                企业转型升级遇到阻力
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="icon">
                        </div>
                        <div class="test">
                            <p>
                                作为管理层，<br />
                                无系统可执行的管理经验？
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="icon">
                        </div>
                        <div class="test">
                            <p>
                                新渠道开发困难，<br />
                                新市场开拓受阻？
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="icon">
                        </div>
                        <div class="test">
                            <p>
                                团队执行力低效，<br />
                                如何提升领导力？
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="icon">
                        </div>
                        <div class="test">
                            <p>
                                    缺少优质人脉圈，<br />
                                    及高端资源对接平台？
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="icon">
                        </div>
                        <div class="test">
                            <p>
                                    商业模式落后，<br />
                                    企业经验利润少
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="upgrade">
        <div class="marginAuto">
            <div class="title">
                <h1>突破瓶颈、实现管理升级</h1>
            </div>
            <div class="list">
                <div class="center">
                    获取解决方案
                </div>
                <div class="list_li">
                    <div class="li">
                        系统梳理分析+实战模拟演练
                    </div>
                    <div class="li">
                        建立科学的决策机制和管理体系
                    </div>
                    <div class="li">
                            深刻剖析企业运营规律
                    </div>
                    <div class="li">
                            设计企业发展战略、明确方向
                    </div>
                    <div class="li">
                            目标分解+过程管理+<br />
                            绩效考核+总结复盘
                    </div>
                    <div class="li">
                            助力企业实现利润增加
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="system">
        <div class="marginAuto">
            <div class="title">
                <h1>完备的培训体系</h1>
            </div>
            <div class="list">
                <ul>
                    <li>
                        <h1><span>中层员工</span></h1>
                        <h2>工作与管理技能双升</h2>
                        <p>
                            ● 团队能力培训<br />
                            ● 管理者提升培训<br />
                            ● 技术能力培训<br />
                            ● 综合能力培训
                        </p>
                    </li>
                     <li>
                        <h1><span>高层员工</span></h1>
                        <h2>提升高层演技与格局</h2>
                        <p>
                                ● 领导能力培训<br />
                                ● 管理能力培训<br />
                                ● 决策能力培训<br />
                                ● 思维能力提升培训
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="runTrain">
        <div class="marginAuto">
            <div class="title">
                <h1>为什么选择商壤管理培训</h1>
            </div>
            <div class="list">
                <ul>
                    <li>
                        <h1>数十年匠心研制，只为打造品质课程</h1>
                        <p>商壤集团联合诸多资深企业管理专家，走访数百家企业，采访数千位企业家，打造出适合企业中高层系统化学习的精品课程</p>
                    </li>
                    <li>
                        <h1>一对一指导，针对企业现状进行全面梳理诊断</h1>
                        <p>商壤集团联合诸多资深企业管理专家，走访数百家企业，采访数千位企业家，打造出适合企业中高层系统化学习的精品课程</p>
                    </li>
                    <li>
                        <h1>快速、高效提升管理者的领导力、管理力、竞争力</h1>
                        <p>快速掌握领导人的核心领导技能，实现管理局部到全局的跨越，掌握人才选育用留方法于员工激励方法，同时要实现团队业绩的提升</p>
                    </li>
                    <li>
                        <h1>搭建高端人脉网，拓宽管理者思维认知边界</h1>
                        <p>汇聚业界成功企业家和资深教授的塔尖智慧，搭建高管间深度交流平台，深入解读卓越企业的成功经验，拓宽您的国际经营视野</p>
                    </li>
                </ul>
                <div class="center">
                        商壤管理培训
                </div>
            </div>
        </div>
    </div>
    <div class="brilliant">
        <div class="marginAuto">
            <div class="title">
                <h1>10大课程体系、全方位助力您的管理能力突飞猛进</h1>
            </div>
            <!-- <div class="btn">
                <a class="on" href="javascript:;">战略篇</a>
                <a href="javascript:;">管理篇</a>
                <a href="javascript:;">运营篇</a>
                <a href="javascript:;">执行篇</a>
            </div> -->
            <div class="list">
                <ul>
                    <li>
                        <h1><font>趋势 </font>把握对维宏观环境</h1>
                        <h2>宏观经济形势与政策分析</h2>
                        <p>
                                ● 宏观经济走势<br />
                                ● 政策分析与解读<br />
                                ● 经济增长与产业结构变迁<br />
                                ● 国际形势与中国企业的发展<br />
                                ● 2.0时代企业的机遇与机会
                        </p>
                        <i>1</i>
                    </li>
                    <li>
                        <h1><font>领导 </font>解码“未来领导力”</h1>
                        <h2>领导科学与卓越领导艺术</h2>
                        <p>
                                ● 经营能力-企业定位钰战略规则<br />
                                ● 统驭能力-弹性使用四种领导方法<br />
                                ● 教练能力-提升下属的意愿与能力<br />
                                ● 国际形势与中国企业的发展<br />
                                ● 平衡能力-有效识别和化解冲突
                        </p>
                        <i>2</i>
                    </li>
                    <li>
                        <h1><font>战略 </font> 企业持续发展的行<br />动地图</h1>
                        <h2>战略管理与决策</h2>
                        <p>
                                ● 战略思维能力构成<br />
                                ● 战略分析策略与战略选择<br />
                                ● 战略实施与落地管控<br />
                                ● 盈利战略的顶层设计<br />
                                ● 基于核心能力的战略管理<br />
                                ● 战略实施与组织结构配置<br />
                                ● 情报管理与竞争分析
                        </p>
                        <i>3</i>
                    </li>
                    <li>
                        <h1><font>模式 </font>重构企业盈利系统</h1>
                        <h2>商业模式变革与创新</h2>
                        <p>
                                ● 商业模式如何塑造核心竞争力<br />
                                ● 企业盈利系统设计的6大关键方法<br />
                                ● 如何系统性突破行业瓶颈<br />
                                ● 如何设计行业控制权<br />
                                ● 战略联盟系统设计<br />
                                ● 构建持续升级的产业协同<br />
                                ● 经典案例拆解
                        </p>
                        <i>4</i>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="runTrain2">
        <div class="marginAuto">
            <div class="title">
                <h1>为什么选择商壤管理培训</h1>
            </div>
            <div class="list">
                <ul>
                    <li><a href="javascript:;">
                        <img src="../images/one.jpg" alt="">
                        <div class="tit">
                            <h1>范舰</h1>
                            <h2>清华营销讲师</h2>
                        </div>
                        <div class="test hide">
                            <p>
                                5年以上猎头行业授课经验和实践经验<br />
                                年培训客户数量达数百家<br />
                                培训客户有百度、万达、融创等
                            </p>
                        </div>
                    </a></li>
                    <li><a href="javascript:;">
                        <img src="../images/one.jpg" alt="">
                        <div class="tit">
                            <h1>范舰</h1>
                            <h2>清华营销讲师</h2>
                        </div>
                        <div class="test hide">
                            <p>
                                5年以上猎头行业授课经验和实践经验<br />
                                年培训客户数量达数百家<br />
                                培训客户有百度、万达、融创等
                            </p>
                        </div>
                    </a></li>
                    <li><a href="javascript:;">
                        <img src="../images/one.jpg" alt="">
                        <div class="tit">
                            <h1>范舰</h1>
                            <h2>清华营销讲师</h2>
                        </div>
                        <div class="test hide">
                            <p>
                                5年以上猎头行业授课经验和实践经验<br />
                                年培训客户数量达数百家<br />
                                培训客户有百度、万达、融创等
                            </p>
                        </div>
                    </a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="trainingProcess">
        <div class="title">
            <h1>
                培训流程
            </h1>
        </div>
        <div class="list">
            <ul class="marginAuto">
                <li>
                    <div class="icon"></div>
                    <h1>调研真实需求</h1>
                    <p>
                        最全面的问卷调查<br />
                        最切实可行的指导改善建议
                    </p>
                </li>
                <li>
                    <div class="icon"></div>
                    <h1>定制整体方案</h1>
                    <p>
                            最落地的实践方法论<br />
                            最接地气的实战演练
                    </p>
                </li>
                <li>
                    <div class="icon"></div>
                    <h1>对症落地辅导</h1>
                    <p>
                            提供专业的培训方案<br />
                            定制丰富的培训解决方案
                    </p>
                </li>
                <li>
                    <div class="icon"></div>
                    <h1>持续跟踪服务</h1>
                    <p>
                            进阶培训建议<br />
                            培训效果追踪
                    </p>
                </li>
            </ul>
        </div>
    </div>
    <div class="study">
        <div class="marginAuto">
            <div class="title">
                <h1>理论与实战相结合，学以致用</h1>
            </div>
            <div class="list">
                <ul>
                    <li>
                        <img src="../images/news1.png" alt="">
                        <h1>企业研讨会</h1>
                    </li>
                    <li>
                        <img src="../images/news1.png" alt="">
                        <h1>企业研讨会</h1>
                    </li>
                    <li>
                        <img src="../images/news1.png" alt="">
                        <h1>企业研讨会</h1>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="trainingProgramme">
        <div class="marginAuto">
            <div class="title">
                <h1>免费定制企业培训方案</h1>
            </div>
            <div class="from">
                <form class="layui-form" action="">
                    <div class="layui-form-item">
                        <label class="layui-form-label"><i>*</i>申请项目</label>
                        <div class="layui-input-block">
                            <select name="applyItem" lay-filter="applyItem" ng-model="entity.applyItem">
                                <option value=""></option>
                                <option value="CEO">CEO</option>
	                            <option value="COO">COO</option>
	                            <option value="CFO">CFO</option>
	                            <option value="CIO">CIO</option>
	                            <option value="CTO">CTO</option>
                            </select>
                            <div class="errorBox" ng-bind="entity.errorMsg.applyItem"></div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label"><i>*</i>联系人</label>
                        <div class="layui-input-block">
                            <input type="text" name="contacts" required ng-model="entity.contacts" placeholder="请输入联系人" autocomplete="off" class="layui-input">
                            <div class="errorBox" ng-bind="entity.errorMsg.contacts"></div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label"><i>*</i>联系人手机</label>
                        <div class="layui-input-block">
                            <input type="text" name="contactsPhone" required ng-model="entity.contactsPhone" placeholder="请输入联系人手机号码" autocomplete="off" class="layui-input">
                            <div class="errorBox" ng-bind="entity.errorMsg.contactsPhone"></div>
                        </div>
                    </div>
                    <div class="layui-form-item layui-form-text">
                        <label class="layui-form-label">备注</label>
                        <div class="layui-input-block">
                            <textarea name="generalize" placeholder="请输入内容" class="layui-textarea" ng-model="entity.remark"></textarea>
                            <div class="errorBox" ng-bind="entity.errorMsg.remark"></div>
                        </div>
                    </div>
                    <div class="tel">
                        <h1>联系我们：010-84874980</h1>
                    </div>
                    <div class="btn">
                        <a ng-click="save()">确认下单</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="traintips">
        <h2>不给自己设限，人生才无上限</h2>
        <h1>联系我们：010-84874980</h1>
    </div>
    <footer class="footer">
        
    </footer>
    <div class="alertBox">

    </div>
    <!-- 当前页面 -->
    <script src="../lib/swiper/dist/js/swiper.min.js"></script>
    <script>
        $(function(){
            var swiper = new Swiper('.swiper-container1', {
                loop : true,
                effect : 'fade',
                autoplay: {
                    delay: 5000,
                    stopOnLastSlide: false,
                    disableOnInteraction: true,
                },
            });  
        });
    </script>
</body>
</html>