<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>商壤学院—领导力发展培训</title>
    <link rel="import" href="../common/common.html"/>
    <script src="../js/service/soiroccollegeService.js"></script>
	<script src="../js/controller/soiroccollegeController.js"></script>
    <!-- 当前页面 -->
    <link rel="stylesheet" href="/lib/swiper/dist/css/swiper.min.css">
</head>
<body ng-app="soiroc" ng-controller="soiroccollegeController">
    <header class="header marginBottom">
        <div class="banner ldlpx">
            <div class="swiper-container swiper-container1">
                <div class="swiper-wrapper">
                    <div class="swiper-slide "><a href="javascript:;">
                        <img src="../images/lingdaolifz.png" alt="">
                    </a></div>
                </div>
            </div>
            <div class="bannerBtn">
                <a href="javascript:;">立即咨询</a>
            </div>
        </div>
        <nav class="nav">
            
        </nav>
        <div class="content">
            <div class="marginAuto">
                <div class="loginAlert hide">
                    
                </div>
            </div>
        </div>
    </header>
    <div class="tips-positoin marginBottom">
        <div class="marginAuto">
            <span>当前位置：</span>商壤学院—领导力发展培训
        </div>
    </div>
    <div class="leadershipModel">
        <div class="marginAuto">
            <div class="title">
                <h1>领导力五力模型</h1>
            </div>
            <div class="list">
                <div class="li">
                    <h1>感召力</h1>
                    <p>
                            感召力是最本色的领导能力，领导学理论中最
                            经典的特质论研究的核心主题就是感召力；
                    </p>
                </div>
                <div class="li">
                    <h1>影响力</h1>
                    <p>
                            领导者积极主动地影响被领导者的能力；
                    </p>
                </div>
                <div class="li">
                    <h1>控制力</h1>
                    <p>
                            领导者有效控制组织的发展方向、战略实施过程
                            和成效的能力；
                    </p>
                </div>
                <div class="li">
                    <h1>前瞻力</h1>
                    <p>
                            着眼未来、预测未来和把握未来的能力
                    </p>
                </div>
                <div class="li">
                    <h1>决断力</h1>
                    <p>
                            针对战略实施中的各种问题和突发事件而进行
                            快速和有效决策的能力；
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="FourMajorCourses">
        <div class="marginAuto">
            <div class="title">
                <h1>4大课程体系  全面提升管理者领导力</h1>
            </div>
            <div class="list">
                <ul>
                    <li>
                        <div class="img">
                            <img src="../images/icon41.png" alt="">
                            <h1>成就自我</h1>
                        </div>
                        <div class="test">
                            <h2>成就自我</h2>
                            <p>
                                • 新职业化塑造<br />
                                • MTP管理才能发展<br />
                                • JMT基层主管管理技能训练<br />
                                • 情绪与压力管理<br />
                                • 问题分析与决策<br />
                                • QBQ终极执行力
                            </p>
                        </div>
                    </li>
                     <li>
                        <div class="img">
                            <img src="../images/icon41.png" alt="">
                            <h1>经营企业</h1>
                        </div>
                        <div class="test">
                            <h2>经营企业</h2>
                            <p>
                                    • Managing3人才管理沙盘<br />
                                    • 24K胡萝卜<br />
                                    • 企业经营<br />
                                    • 非人力资源经理的人力资源管理<br />
                                    • 非财务经理的财务管理沙盘训练<br />
                                    • 战略管理与经营决策管理
                            </p>
                        </div>
                    </li>
                     <li>
                        <div class="img">
                            <img src="../images/icon41.png" alt="">
                            <h1>引领团队</h1>
                        </div>
                        <div class="test">
                            <h2>引领团队</h2>
                            <p>
                                    • C.I.S沟通与影响技术<br />
                                    • 管理工具箱ELP<br />
                                    • 24K胡萝卜<br />
                                    • 教练型领导者<br />
                                    • 卓越团队教练<br />
                                    • SAM™敏捷迭代课程开发技术
                            </p>
                        </div>
                    </li>
                     <li>
                        <div class="img">
                            <img src="../images/icon41.png" alt="">
                            <h1>增效组织</h1>
                        </div>
                        <div class="test">
                            <h2>增效组织</h2>
                            <p>
                                    • P.O.T波特<br />
                                    • 优师计划<br />
                                    • 行动学习<br />
                                    • 萃智创新体系<br />
                                    • 弗思™创新地图-创造卓越的产品和服务
                                    绩效管理与绩效面谈
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="srStrength">
        <div class="marginAuto">
            <div class="title">
                <h1>对比，才能看到商壤专业实力</h1>
            </div>
            <div class="list">
                <ul>
                    <h1>普通培训机构</h1>
                    <li>
                        <div class="icon"><img src="../images/icon45.png" alt=""></div>
                        <div class="test">
                            <h1>仅注重领导者个人</h1>
                            <p>只注重领导个人，不关注企业发展</p>
                        </div>
                    </li>
                    <li>
                        <div class="icon"><img src="../images/icon46.png" alt=""></div>
                        <div class="test">
                            <h1>理论派的讲授模式</h1>
                            <p>只注重领导个人，不关注企业发展</p>
                        </div>
                    </li>
                    <li>
                        <div class="icon"><img src="../images/icon47.png" alt=""></div>
                        <div class="test">
                            <h1>师资力量匮乏</h1>
                            <p>只注重理论授课，无法落地</p>
                        </div>
                    </li>
                    <li>
                        <div class="icon"><img src="../images/icon48.png" alt=""></div>
                        <div class="test">
                            <h1>过场式学习模式</h1>
                            <p>只注重领导个人，不关注企业发展</p>
                        </div>
                    </li>
                    <li>
                        <div class="icon"><img src="../images/icon49.png" alt=""></div>
                        <div class="test">
                            <h1>办学经验不足</h1>
                            <p>课程的专业性与讲师的权威性无法保证</p>
                        </div>
                    </li>
                </ul>
                <ul>
                    <h1>商壤领导力培训</h1>
                    <li>
                        <div class="icon"><img src="../images/icon45.png" alt=""></div>
                        <div class="test">
                            <h1>关注管理者及其企业实际情况</h1>
                            <p>通过培训管理者及团队，加速企业及管理共同成长</p>
                        </div>
                    </li>
                    <li>
                        <div class="icon"><img src="../images/icon61.png" alt=""></div>
                        <div class="test">
                            <h1>4大课程体系</h1>
                            <p>只注重领导个人，不关注企业发展</p>
                        </div>
                    </li>
                    <li>
                        <div class="icon"><img src="../images/icon47.png" alt=""></div>
                        <div class="test">
                            <h1>雄厚的师资力量</h1>
                            <p>专业导师指导，成长更快速</p>
                        </div>
                    </li>
                    <li>
                        <div class="icon"><img src="../images/icon62.png" alt=""></div>
                        <div class="test">
                            <h1>能力思维提升+人脉拓展</h1>
                            <p>人脉是管理者发展的重要资源</p>
                        </div>
                    </li>
                    <li>
                        <div class="icon"><img src="../images/icon63.png" alt=""></div>
                        <div class="test">
                            <h1>专业的领导力培训课程</h1>
                            <p>深入了解管理者在成长过程中所遇到的困境</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="target">
        <div class="marginAuto">
            <div class="title">
                <h1>看到见得培训效果是我们的目标</h1>
            </div>
            <div class="list">
                <ul class="clearfix">
                    <li><h1>让你学会利他思维，有效管理</h1></li>
                    <li><h1>让你学会有效沟通，效率倍增</h1></li>
                    <li><h1>让你学会知人善任，选对优秀人才</h1></li>
                    <li><h1>让你学会有效管理目标，运筹帷幄</h1></li>
                    <li><h1>让你学会带领团队，而非个人作战</h1></li>
                    <li><h1>让你学会有效分配工作，事半功倍</h1></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="users">
        <div class="marginAuto">
            <div class="title">
                <h1>使用人群</h1>
            </div>
            <div class="list">
                <ul>
                    <li>
                        <div class="test">
                            <img src="../images/icon50.png" alt="">
                            <h1>新晋经理人</h1>
                        </div>
                    </li>
                    <li>
                        <div class="test">
                            <img src="../images/icon51.png" alt="">
                            <h1>基层管理者</h1>
                        </div>
                    </li>
                    <li>
                        <div class="test">
                            <img src="../images/icon52.png" alt="">
                            <h1>中层管理者</h1>
                        </div>
                    </li>
                    <li>
                        <div class="test">
                            <img src="../images/icon53.png" alt="">
                            <h1>优秀骨干</h1>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="trainingProgramme">
        <div class="marginAuto">
            <div class="title">
                <h1>管理者领导力学习解决方案商壤培训为您保驾护航</h1>
            </div>
            <div class="from">
                <form class="layui-form" action="">
                    <div class="layui-form-item">
                        <label class="layui-form-label"><i>*</i>申请项目</label>
                        <div class="layui-input-block">
                            <select name="applyItem" lay-filter="applyItem" ng-model="entity.applyItem">
                                <option value=""></option>
                                <option value="CEO">CEO</option>
	                            <option value="COO">COO</option>
	                            <option value="CFO">CFO</option>
	                            <option value="CIO">CIO</option>
	                            <option value="CTO">CTO</option>
                            </select>
                            <div class="errorBox" ng-bind="entity.errorMsg.applyItem"></div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label"><i>*</i>联系人</label>
                        <div class="layui-input-block">
                            <input type="text" name="contacts" required ng-model="entity.contacts" placeholder="请输入联系人" autocomplete="off" class="layui-input">
                            <div class="errorBox" ng-bind="entity.errorMsg.contacts"></div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label"><i>*</i>联系人手机</label>
                        <div class="layui-input-block">
                            <input type="text" name="contactsPhone" required ng-model="entity.contactsPhone" placeholder="请输入联系人手机号码" autocomplete="off" class="layui-input">
                            <div class="errorBox" ng-bind="entity.errorMsg.contactsPhone"></div>
                        </div>
                    </div>
                    <div class="layui-form-item layui-form-text">
                        <label class="layui-form-label">备注</label>
                        <div class="layui-input-block">
                            <textarea name="generalize" placeholder="请输入内容" class="layui-textarea" ng-model="entity.remark"></textarea>
                            <div class="errorBox" ng-bind="entity.errorMsg.remark"></div>
                        </div>
                    </div>
                    <div class="tel">
                        <h1>联系我们：010-84874980</h1>
                    </div>
                    <div class="btn">
                        <a ng-click="save()">确认下单</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
    <div class="traintips">
        <h2>管理者领导力学习解决方案<br />商壤培训为您保驾护航</h2>
        <h1>联系我们：010-84874980</h1>
    </div>
    <footer class="footer">
        
    </footer>
    <div class="alertBox">

    </div>
    <!-- 当前页面 -->
    <script src="../lib/swiper/dist/js/swiper.min.js"></script>
    <script>
        $(function(){
            var swiper = new Swiper('.swiper-container1', {
                loop : true,
                effect : 'fade',
                autoplay: {
                    delay: 5000,
                    stopOnLastSlide: false,
                    disableOnInteraction: true,
                },
            });  
        });
    </script>
</body>
</html>