<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="import" href="../common/common.html"/>
    <script src="../js/service/soiroccollegeService.js"></script>
	<script src="../js/controller/soiroccollegeController.js"></script>
    <!-- 当前页面 -->
    <link rel="stylesheet" href="../lib/swiper/dist/css/swiper.min.css">
    <!-- 当前页面 -->
    <script src="../lib/swiper/dist/js/swiper.min.js"></script>
</head>
<body ng-app="soiroc"  ng-controller="soiroccollegeController">
    <header class="header marginBottom">
        <div class="banner">
            <div class="swiper-container swiper-container1">
                <div class="swiper-wrapper">
                    <div class="swiper-slide "><a href="javascript:;">
                        <img src="../images/ltbanner_.png" alt="">
                    </a></div>
                </div>
                <div class="bannerBtn">
                    <a href="javascript:;">立即咨询</a>
                </div>
            </div>          
        </div>
        <nav class="nav">
            
        </nav>
        <div class="content">
            <div class="marginAuto">
                <div class="loginAlert hide">
                    
                </div>
            </div>
        </div>
    </header>
    <div class="tips-positoin ">
        <div class="marginAuto">
            <span>当前位置：</span>商壤学院—猎头培训
        </div>
    </div>
    <div class="prospect">
        <div class="marginAuto">
            <div class="title">
                <h1>行业前景广阔</h1>
            </div>
            <div class="content">
                <div class="img">
                    <img src="../images/hyqj.jpg" alt="">
                </div>
                <div class="test">
                    <p>
                        中国猎头市场规模超过<font>1000亿</font>，每年保持着至少<font>30%</font>的增长<br />
                        随着经济发展，猎头行业面临巨大人才缺口，<br />
                        据网络统计，仅北、上、广、深猎头职位需求已达<font>12517个</font><br />
                        同时，从事猎头工作，意味着进入<font>朝阳产业</font><br />
                        猎头是一种可以终生从事的职业——资历越深越挣钱<br />
                        猎头顾问的识人、辩人、人际交往能力，是个人面向未来必备能力<br />
                        猎头顾问经常与行业<font>顶级人才交流</font>，快速提升你的职业能力
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="future">
        <div class="marginAuto">
            <div class="title">
                <h1>前途与钱途并存</h1>
                <h2>据统计，在北京猎头顾问平均月薪达12600元</h2>
            </div>
            <div class="content">
                <div class="img">
                    <img src="../images/tongji.png" alt="">
                </div>
                <div class="test">
                    <h1>￥12600</h1>
                    <h2>近1年3751份样本/可信度：高</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="train">
        <div class="marginAuto">
            <div class="title">
                <h1>培训方式</h1>
                <h2>提供视频课程、线下沙龙等多种培训方式，突破时间、空间限制</h2>
            </div>
            <div class="list">
                <ul>
                    <li><a href="javascript:;">
                        <div class="img">
                            <img src="../images/peixun.png" alt="">
                        </div>
                        <div class="test">
                            <h1>视频课程</h1>
                            <p>
                                支持手机、电脑等多种进行
                                猎头专业技能培训，突破时
                                间、空间限制，可随时随地
                                的学习
                            </p>
                        </div>
                    </a></li>
                     <li><a href="javascript:;">
                        <div class="img">
                            <img src="../images/peixun1.png" alt="">
                        </div>
                        <div class="test">
                            <h1>线下授课</h1>
                            <p>
                                与讲师零距离沟通，现场帮
                                你解疑答惑，对于工作中的
                                技能瓶颈，提出针对性改善
                                方案
                            </p>
                        </div>
                    </a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="trainingSystem">
        <div class="title">
            <h1>猎头培训体系</h1>
            <h2>以“理论+实务+技能+案例+工具应用+实习训练”为特色</h2>
        </div>
        <div class="content">
            <strong class="iconfont"><h1>基础篇</h1>以行业、人力资源、运作规则与流程为基本</strong>
            <strong class="iconfont"><h1>务实篇</h1>以渠道选择、标准话术、人才访寻、面试协调、客户把握为核心</strong>
            <strong class="iconfont"><h1>技能篇</h1>以职业素养、沟通技巧与方法、时间管理为中心</strong>
            <strong class="iconfont"><h1>实训篇</h1>以流程工具、平台建设、行业英语、实战操作为目的</strong>
        </div>
    </div>
    <div class="seniorLecturer">
        <div class="marginAuto">
            <div class="title">
                <h1>资深讲师大咖倾囊相授</h1>
                <h2>百位资深顾问精心分享，只为成为百万年薪的你</h2>
            </div>
            <div class="list">
                <ul>
                    <li><a href="javascript:;">
                        <img src="../images/one.jpg" alt="">
                        <div class="tit">
                            <h1>范舰</h1>
                            <h2>清华营销讲师</h2>
                        </div>
                        <div class="test hide">
                            <p>
                                5年以上猎头行业授课经验和实践经验<br />
                                年培训客户数量达数百家<br />
                                培训客户有百度、万达、融创等
                            </p>
                        </div>
                    </a></li>
                    <li><a href="javascript:;">
                        <img src="../images/one.jpg" alt="">
                        <div class="tit">
                            <h1>范舰</h1>
                            <h2>清华营销讲师</h2>
                        </div>
                        <div class="test hide">
                            <p>
                                5年以上猎头行业授课经验和实践经验<br />
                                年培训客户数量达数百家<br />
                                培训客户有百度、万达、融创等
                            </p>
                        </div>
                    </a></li>
                    <li><a href="javascript:;">
                        <img src="../images/one.jpg" alt="">
                        <div class="tit">
                            <h1>范舰</h1>
                            <h2>清华营销讲师</h2>
                        </div>
                        <div class="test hide">
                            <p>
                                5年以上猎头行业授课经验和实践经验<br />
                                年培训客户数量达数百家<br />
                                培训客户有百度、万达、融创等
                            </p>
                        </div>
                    </a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="Syllabus">
        <div class="title">
            <h1>课程大纲</h1>
        </div>
        <div class="alist">
            <ul>
                <li>
                    <div class="content">
                        <h1>01</h1>
                        <div class="blist">
                            <h2>客户开发</h2>
                            <ul>
                                <li>
                                   <i>1</i>掌握产品知识的方法
                                </li>
                                <li>
                                   <i>2</i>掌握行业知识的策略
                                </li>
                                <li>
                                    <i>3</i>寻找目标客户的策略
                                </li>
                                <li>
                                    <i>4</i>寻找目标客户的KP
                                </li>
                                <li>
                                   <i>5</i>电话BD的流程和方法
                                </li>
                                <li>
                                    <i>6</i>拜访客户的步骤和策略
                                </li>
                                <li>
                                    <i>7</i>维护客户关系的方法
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="content">
                        <h1>02</h1>
                        <div class="blist">
                            <h2>客户开发</h2>
                            <ul>
                                <li>
                                   <i>1</i>掌握产品知识的方法
                                </li>
                                <li>
                                   <i>2</i>掌握行业知识的策略
                                </li>
                                <li>
                                    <i>3</i>寻找目标客户的策略
                                </li>
                                <li>
                                    <i>4</i>寻找目标客户的KP
                                </li>
                                <li>
                                   <i>5</i>电话BD的流程和方法
                                </li>
                                <li>
                                    <i>6</i>拜访客户的步骤和策略
                                </li>
                                <li>
                                    <i>7</i>维护客户关系的方法
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="content">
                        <h1>03</h1>
                        <div class="blist">
                            <h2>客户开发</h2>
                            <ul>
                                <li>
                                   <i>1</i>掌握产品知识的方法
                                </li>
                                <li>
                                   <i>2</i>掌握行业知识的策略
                                </li>
                                <li>
                                    <i>3</i>寻找目标客户的策略
                                </li>
                                <li>
                                    <i>4</i>寻找目标客户的KP
                                </li>
                                <li>
                                   <i>5</i>电话BD的流程和方法
                                </li>
                                <li>
                                    <i>6</i>拜访客户的步骤和策略
                                </li>
                                <li>
                                    <i>7</i>维护客户关系的方法
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="trainingProgramme">
        <div class="marginAuto">
            <div class="title">
                <h1>免费定制企业培训方案</h1>
            </div>
            <div class="from">
                <form class="layui-form" action="">
                    <div class="layui-form-item">
                        <label class="layui-form-label"><i>*</i>申请项目</label>
                        <div class="layui-input-block">
                            <select name="applyItem" lay-filter="applyItem" ng-model="entity.applyItem">
                                <option value=""></option>
                                <option value="CEO">CEO</option>
	                            <option value="COO">COO</option>
	                            <option value="CFO">CFO</option>
	                            <option value="CIO">CIO</option>
	                            <option value="CTO">CTO</option>
                            </select>
                            <div class="errorBox" ng-bind="entity.errorMsg.applyItem"></div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label"><i>*</i>联系人</label>
                        <div class="layui-input-block">
                            <input type="text" name="contacts" required ng-model="entity.contacts" placeholder="请输入联系人" autocomplete="off" class="layui-input">
                            <div class="errorBox" ng-bind="entity.errorMsg.contacts"></div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label"><i>*</i>联系人手机</label>
                        <div class="layui-input-block">
                            <input type="text" name="contactsPhone" required ng-model="entity.contactsPhone" placeholder="请输入联系人手机号码" autocomplete="off" class="layui-input">
                            <div class="errorBox" ng-bind="entity.errorMsg.contactsPhone"></div>
                        </div>
                    </div>
                    <div class="layui-form-item layui-form-text">
                        <label class="layui-form-label">备注</label>
                        <div class="layui-input-block">
                            <textarea name="generalize" placeholder="请输入内容" class="layui-textarea" ng-model="entity.remark"></textarea>
                            <div class="errorBox" ng-bind="entity.errorMsg.remark"></div>
                        </div>
                    </div>
                    <div class="tel">
                        <h1>联系我们：010-84874980</h1>
                    </div>
                    <div class="btn">
                        <a ng-click="save()">确认下单</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="traintips">
        <h2>不给自己设限，人生才无上限</h2>
        <h1>联系我们：010-84874980</h1>
    </div>
    <footer class="footer">
        
    </footer>
    <div class="alertBox">

    </div>
    
    <script>
        $(function(){
            var swiper = new Swiper('.swiper-container1', {
                loop : true,
                effect : 'fade',
                autoplay: {
                    delay: 5000,
                    stopOnLastSlide: false,
                    disableOnInteraction: true,
                },
            });  
        });
    </script>
</body>
</html>